@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
    background-color: #f8f3f0; /* Cor suave de creme */
}

.logo {
    display: flex;
    justify-content: center;
    font-size: 3em;
    transition: all 3s ease;
    color: #ff8b94; /* Cor suave para a logo */
}

.fixed {
    position: fixed;
    top: -6%;
    width: 100%;
    z-index: 1000;
    background-color: #f8f3f0;
  }
  
.sticky + .section {
    padding-top: 20px; /* Espaço para o conteúdo não ficar coberto */
  }

.aro {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #ffe6e6, #fff2f0); 
    margin: 30px 0;
    padding: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Pacifico', cursive; 
    font-size: 24px;
    color: #d14b4b;
    border-top: 4px dashed #f8a5c2; 
    border-bottom: 4px dashed #f8a5c2;

    position: relative;
}

.aro::before {
    content: '🍰';
    position: absolute;
    left: 20px;
    font-size: 28px;
}

.aro::after {
    content: '🍰';
    position: absolute;
    right: 20px;
    font-size: 28px;
}

section {
    max-width: 700px;
    column-count: 2;
    padding: 28px;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 17px 17px 0 0; 
    transition: all linear 200ms;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 14px;
    color: #444;
    padding: 5px 20px 20px 20px;
}

.card {
    margin-bottom: 20px;
    transition: all linear 200ms;
    break-inside: avoid-column;
    /* background-color: #d14b4b; */
    border-radius: 17px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card:hover img {
    transform: scale(1.04);
}

.card:hover {
    background-color: #fce1e5; 
}

/* Estilos para o lightbox */
#lightbox {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

#lightbox.open {
    display: flex;
}

#lightbox:active img {
    transform: scale(1.05);
}

.contact-info {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
}

.contact-info a {
    color: #25d366; /* Cor do WhatsApp */
    text-decoration: none;
    font-weight: bold;
}

/* Botão fixo de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Cor do WhatsApp */
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.whatsapp-button a {
    display: block;
}
